@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');